.container-transaction {
    background-color: white;
    width: 80%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px 0;
    @media (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: center;
    width: 75%;
    height: 130px;
    }
    .card-transaction {
        display: flex;
        justify-content: flex-start;

        flex-direction: column;
        text-align: left;
        .account-title {
            font-size: 1rem;
            font-weight: normal;
        }
        .account-amount {
            font-size: 2.5rem;
            font-weight: bold;
        }

        // .account-amount-description {
        //     // margin: 0;
        // }
    }
}
